main.home{
  .posts{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 20rem), 1fr));
    gap: 1rem;
    .post{
      display: flex;
      flex-flow: column;
      justify-content: center;
      gap: .2rem;
      border: .0625rem solid #e0e0e0;
      border-radius: 1rem;
      padding: 1.5rem;
      .tags{
        display: flex;
        gap: .25rem;
        font-size: .875rem;
        color: #555;
      }
      .author{
        font-size: .875rem;
        color: #222;
      }
    }
  }
}