main.post{
  .post{
    display: flex;
    flex-flow: column;
    gap: .6rem;
    .tags{
      display: flex;
      flex-wrap: wrap;
      gap: .25rem;
      font-size: .875rem;
      color: #555;
    }
    .btn{
      align-self: flex-end;
      margin-top: 1rem;
    }
  }
}