main.post{
  .post{
    display: flex;
    flex-flow: column;
    gap: .6rem;
    .tags{
      display: flex;
      flex-wrap: wrap;
      gap: .25rem;
      font-size: .875rem;
      color: #555;
    }
    .body{
      display: flex;
      flex-flow: column;
      gap: .2rem;
    }
    .btn{
      align-self: flex-end;
      margin-top: 1rem;
    }
  }
  .comments{
    display: flex;
    flex-flow: column;
    gap: 1rem;
    form{
      textarea{
        max-height: 12rem;
      }
    }
    .cont{
      display: flex;
      flex-flow: column;
      gap: 1rem;
    }
  }
}