header{
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
  nav{
    display: flex;
    gap: .75rem;
    .btn{
      flex-shrink: 0;
    }
    #menuBtn{
      display: none;
    }
    .menuBtn{
      cursor: pointer;
      width: 2rem;
      height: 2rem;
      display: grid;
      place-items: center;
      border: $border;
      border-radius: 50%;
      svg{
        width: 50%;
        height: auto;
        path{
          stroke: var(--main);
        }
      }
    }
    .menu{
      position: relative;
      z-index: 1000;
      opacity: 0;
      pointer-events: none;
      position: absolute;
      right: var(--wrapper-padding);
      top: 90%;
      font-size: .8335rem;
      background: #fff;
      border: $border;
      border-radius: .4rem;
      padding: .3rem;
      li{
        font-weight: 500;
        border-radius: .2rem;
        padding: .5rem 1.5rem .5rem .75rem;
        &.action{
          cursor: pointer;
          &:hover{
            background: #eee;
          }
        }
      }
      .divider{
        width: 100%;
        height: .125rem;
        background: var(--main);
        margin: .25rem 0;
      }
    }
    #menuBtn:checked ~ .menu{
      opacity: 1;
      pointer-events: unset;
    }
  }
}