.btn{
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: .8335rem;
  font-weight: 700;
  color: #fff;
  background: $black;
  border: none;
  border-radius: .5rem;
  padding: .5rem 1rem;
  &.hidden{ display: none; }
  &.red{ background: $red; }
  &.green{ background: $green; }
  &.outline{
    color: $black;
    background: none;
    outline: .125rem solid $black;
    outline-offset: -0.125rem;
    &.red{
      color: $red;
      outline-color: $red;
    }
  }
}