form{
  display: flex;
  flex-flow: column;
  gap: .5rem;
  textarea{
    resize: none;
  }
  input, textarea{
    background: #efefef;
    border: none;
    outline: none;
    border-radius: .5rem;
    padding: 1rem;
  }
}