*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  &:focus-visible{ outline: .125rem solid cornflowerblue !important; }
}

@import "./ui/colors";
@import "./ui/typography";
@import "./ui/button";
@import "./layout/variables";
@import "./layout/wrapper";
@import "./components/header";
@import "./pages/home";
@import "./pages/post";
@import "./pages/new-edit";