* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
*:focus-visible {
  outline: 0.125rem solid cornflowerblue !important;
}

body, input, textarea, button {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

input, textarea {
  font-size: 1rem;
}

.btn {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8335rem;
  font-weight: 700;
  color: #fff;
  background: #000;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
}
.btn.hidden {
  display: none;
}
.btn.red {
  background: #F25E5E;
}
.btn.green {
  background: #02C755;
}
.btn.outline {
  color: #000;
  background: none;
  outline: 0.125rem solid #000;
  outline-offset: -0.125rem;
}
.btn.outline.red {
  color: #F25E5E;
  outline-color: #F25E5E;
}

form {
  display: flex;
  flex-flow: column;
  gap: 0.5rem;
}
form input, form textarea {
  background: #efefef;
  border: none;
  outline: none !important;
  border-radius: 0.5rem;
  padding: 1rem;
}

:root {
  --wrapper-padding: 1rem;
  --wrapper-max-width: calc(60rem + var(--wrapper-padding)*2);
}

.wrapper {
  max-width: var(--wrapper-max-width);
  padding-left: var(--wrapper-padding);
  padding-right: var(--wrapper-padding);
  margin-left: auto;
  margin-right: auto;
}

header {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
}
header nav {
  display: flex;
  gap: 0.75rem;
}
header nav .btn {
  flex-shrink: 0;
}
header nav #menuBtn {
  display: none;
}
header nav .menuBtn {
  cursor: pointer;
  height: 2rem;
  aspect-ratio: 1/1;
  background: url("../../public/images/pfp.svg");
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
  border: 0.125rem solid #000;
  border-radius: 50%;
}
header nav .menu {
  position: relative;
  z-index: 1000;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  right: var(--wrapper-padding);
  top: 90%;
  font-size: 0.8335rem;
  background: #fff;
  border: 0.125rem solid #000;
  border-radius: 0.4rem;
  padding: 0.3rem;
}
header nav .menu li {
  cursor: pointer;
  font-weight: 500;
  border-radius: 0.2rem;
  padding: 0.5rem 1.5rem 0.5rem 0.75rem;
}
header nav .menu li:hover {
  background: #eee;
}
header nav .menu .divider {
  width: 100%;
  height: 0.125rem;
  background: #000;
  margin: 0.25rem 0;
}
header nav #menuBtn:checked ~ .menu {
  opacity: 1;
  pointer-events: unset;
}

main.home .posts {
  position: relative;
  display: flex;
  flex-flow: column;
  gap: 1rem;
  padding-bottom: var(--wrapper-padding);
}
main.home .posts .post {
  display: flex;
  flex-flow: column;
  justify-content: center;
  gap: 0.2rem;
  border: 0.125rem solid #000;
  border-radius: 1rem;
  padding: 1.5rem;
}
main.home .posts .post .tags {
  display: flex;
  gap: 0.25rem;
  font-size: 0.875rem;
  color: #555;
}
main.home .posts .post .author {
  font-size: 0.875rem;
  color: #222;
}
main.home .posts .observerTrigger {
  text-align: center;
}

main.post .post {
  display: flex;
  flex-flow: column;
  gap: 0.6rem;
}
main.post .post .tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
  font-size: 0.875rem;
  color: #555;
}
main.post .post .body {
  display: flex;
  flex-flow: column;
  gap: 0.2rem;
}
main.post .post .btn {
  align-self: flex-end;
  margin-top: 1rem;
}

main.editor .deleteConfirm {
  position: absolute;
  inset: 0;
  display: grid;
  place-items: center;
  background: rgba(0, 0, 0, 0.3);
}
main.editor .deleteConfirm .cont {
  overflow: hidden;
  max-width: 25rem;
  background: #fff;
  border: 0.125rem solid #000;
  border-radius: 0.5rem;
}
main.editor .deleteConfirm .cont .text {
  padding: 2rem;
}
main.editor .deleteConfirm .cont .text h3 {
  color: #2D2D36;
  margin-bottom: 1rem;
}
main.editor .deleteConfirm .cont .text p {
  color: #61616A;
}
main.editor .deleteConfirm .cont nav {
  display: flex;
  justify-content: flex-end;
  padding: 0 1.25rem 1.25rem;
}
main.editor .deleteConfirm .cont nav .btn {
  padding: 0.5rem 1.25rem;
}
main.editor .deleteConfirm .cont nav .cancel {
  background: none;
  font-weight: 500;
  color: #616161;
}
main.editor form textarea {
  resize: none;
}
main.editor form .body {
  height: 15rem;
  min-height: 8rem;
  max-height: 30rem;
}
main.editor form .title {
  font-size: 2rem;
  font-weight: 700;
  max-height: 12rem;
}
main.editor form .tags {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 8rem), 1fr));
}
main.editor form .tags .field {
  display: flex;
  height: 2rem;
}
main.editor form .tags .field .hashtag {
  height: 100%;
  aspect-ratio: 1/1;
  display: grid;
  place-items: center;
}
main.editor form .tags .field input {
  width: 8rem;
  background: none;
  padding: 0;
}
main.editor form nav {
  display: flex;
  justify-content: flex-end;
  gap: 0.75rem;
}
main.editor form nav .btn {
  padding: 0.6rem 1.2rem;
}

main.login form {
  max-width: 27rem;
  padding: 2rem;
  margin: 0 auto;
}
main.login form .btn {
  padding: 0.75rem 1.25rem;
}/*# sourceMappingURL=index.css.map */